@model IList<ProductOverviewModel>
@inject DisplayOrderHomePage order
@if (Model.Any())
{

    @foreach (var item in Model)
    {
        <div class="col-xl-@order.Bs_Xl col-lg-@order.Bs_Lg col-md-@order.Bs_Md col-sm-@order.Bs_Sm col-@order.Bs_Col  product-container mb-2">
            <partial name="_ProductBox" model="item" />
        </div>
    }
}