<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="23:00:00" processPath="%LAUNCHER_PATH%" forwardWindowsAuthToken="false" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" startupTimeLimit="3600" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
        <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\7.0.102\DotnetTools\dotnet-watch\7.0.102-servicing.22607.4\tools\net7.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44336/Grand.Web/,ws://localhost:58036/Grand.Web/" />
        <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA+gkrFBYwwUL3e8FYJtCCLS8vV9YNxOgYRony6vvo4E32QNj+st9XezDB3BvsPZSZyYUafukDn4hzMC+YwRFB/6ALdcgKrxnl8hSK4Dxn2BrfCrRXkqeI2qCyW4cB/pKnA1GqlHfdUgPywyo85n61FZW3cizHjsiawkTuDW2kS5BEeCCx6odgCBKSAbEI2eSBsMQL/Txgsh9+Z9mtaKdfy/qX+IVyEQkynoBdu1VrKR+0PoNiDJK44lKNdckEODoRl0maqzVBpX3BxIt5emx6qNiu+pLjmgeHOhB6/TvH+7LOqmXWkLA2dpbNSRTV3Cq69YuEZmXbsUcj3ThPviENBQIDAQAB" />
        <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
      </environmentVariables>
    </aspNetCore>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>