<style type="text/css">

    .carousel .item {
        color: #999;
        overflow: hidden;
        min-height: 120px;
        font-size: 13px;
    }

    .carousel .media {
        position: relative;
        padding: 0 0 0 20px;
    }

    .media img {
        width: 75px;
        height: 75px;
        display: block;
        border-radius: 50%;
    }

    .testimonial-wrapper {
        padding: 0 10px;
    }

    .testimonial {
        color: #808080;
        position: relative;
        padding: 15px;
        background: #f1f1f1;
        border: 1px solid #efefef;
        border-radius: 3px;
        margin-bottom: 15px;
    }

        .testimonial::after {
            content: "";
            width: 15px;
            height: 15px;
            display: block;
            background: #f1f1f1;
            border: 1px solid #efefef;
            border-width: 0 0 1px 1px;
            position: absolute;
            bottom: -8px;
            left: 46px;
            transform: rotateZ(-46deg);
        }

    .star-rating li {
        padding: 0 2px;
    }

    .star-rating i {
        font-size: 16px;
        color: #ffdc12;
    }

    .overview {
        padding: 3px 0 0 15px;
    }

        .overview .details {
            padding: 5px 0 8px;
        }

        .overview b {
            text-transform: uppercase;
            color: #8AC833;
        }

    .carousel .carousel-indicators {
        bottom: -70px;
    }

    .carousel-indicators li, .carousel-indicators li.active {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin: 1px 2px;
    }

    .carousel-indicators li {
        background: #8AC833;
        border: 4px solid #fff;
    }

        .carousel-indicators li.active {
            color: #fff;
            background: #1abc9c;
            border: 5px double;
        }
</style>
<div class="pos_title">
    <h2 class="generalTitle text-center">See What <b>Our Customers</b> Say About Us</h2>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item carousel-item active">
                    <div class="row">
                        
                        <div class="col-sm-6">
                            <a href="http://www.bactakleen.ph/testimonial-9" class="testimonial-wrapper">
                                <div class="testimonial">
                                    All natural, Non-toxic ingredients! US FDA approved and SGS, TUV and Chemsil tested! Safe for Pets, Kids, Plants and Pregnant Women! And It's good for 3 months!
                                </div>
                                <div class="media">
                                    <div class="media-left d-flex mr-3">
                                        <img src="https://anii-forex.s3-ap-southeast-1.amazonaws.com/belo.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="overview">
                                            <div class="name"><b>Belo Medical Group</b></div>
                                            <div class="details">
                                                
                                            </div>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="http://www.bactakleen.ph/testimonial-10" class="testimonial-wrapper">
                                <div class="testimonial">
                                    Since all Bactakleen products are made with botanical extracts, the products are safe for every member of the family, expectant moms, babies, kids, plants and even your pets.
                                </div>
                                <div class="media">
                                    <div class="media-left d-flex mr-3">
                                        <img src="https://anii-forex.s3-ap-southeast-1.amazonaws.com/tessa+prieto.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="overview">
                                            <div class="name"><b>Tessa Prieto</b></div>
                                            <div class="details">
                                                Media Personality
                                            </div>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="http://www.bactakleen.ph/testimonialjulie-eigenmann" class="testimonial-wrapper">
                                <div class="testimonial">
                                    Its non-toxic and non-chemical, its safe for you ,me ,elders and kids! Thank you so much bactakleen for disinfecting my home, getting rid of all the bacteria, germs and viruses.
                                </div>
                                <div class="media">
                                    <div class="media-left d-flex mr-3">
                                        <img src="https://anii-forex.s3-ap-southeast-1.amazonaws.com/julieeigenmann.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="overview">
                                            <div class="name"><b>Julie Eigenmann</b></div>
                                            <div class="details">
                                                Digital Influencer, Enterprenuer
                                            </div>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="http://www.bactakleen.ph/testimonial-2" class="testimonial-wrapper">
                                <div class="testimonial">bactakleenph for our house and car today! AMAZING! i need this in my life even every 2 months,please!<br /><br /></div>
                                <div class="media">
                                    <div class="media-left d-flex mr-3">
                                        <img src="https://anii-forex.s3-ap-southeast-1.amazonaws.com/karelmarquez.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="overview">
                                            <div class="name"><b>Karel Marquez - Fariñas</b></div>
                                            <div class="details">
                                                Digital Influencer, Events Host, Actress, Musician and CEO of K-SPARK Cosmetics & Skincare
                                            </div>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="http://www.bactakleen.ph/testimonials-2" class="testimonial-wrapper">
                                <div class="testimonial">I’m sure most of you know that I’m really into sanitation and sanitizing our personal stuff. Especially in our home. I found this cleaning/anti bacterial service called bactakleenph from Taiwan and it’s amazing. Very fast and hassle free. If you get allergies in the morning like I do, try this one. It also helps lessen your chances on headaches, sinus, diarrhea, insomia, respiratory infections, asthma and a lot more. It’s really interesting and it doesnt hurt to try. Also safe if you have babies and pregnant women around. There’s no need to leave the house. #bactakleenph<br /></div>
                                <div class="media">
                                    <div class="media-left d-flex mr-3">
                                        <img src="https://anii-forex.s3-ap-southeast-1.amazonaws.com/aubreymiles.jpg" class="img-responsive img-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="overview">
                                            <div class="name"><b>Aubrey Miles</b></div>
                                            <div class="details">Actress</div>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="http://www.bactakleen.ph/testimonialiya-villania" class="testimonial-wrapper">
                                <div class="testimonial">
                                    This is plant and water based. That’s why it’s safe for us.
                                </div>
                                <div class="media">
                                    <div class="media-left d-flex mr-3">
                                        <img src="https://anii-forex.s3-ap-southeast-1.amazonaws.com/iya.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="overview">
                                            <div class="name"><b>Iya Villania</b></div>
                                            <div class="details">
                                                Television presenter, Actress and Host
                                            </div>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="http://www.bactakleen.ph/testimonial-7" class="testimonial-wrapper">
                                <div class="testimonial">
                                    Its Safe guys, sa mga pregnant women , sa may asthma.
                                </div>
                                <div class="media">
                                    <div class="media-left d-flex mr-3">
                                        <img src="https://anii-forex.s3-ap-southeast-1.amazonaws.com/isabel+oli.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="overview">
                                            <div class="name"><b>Isabel Oli-Pratts</b></div>
                                            <div class="details">
                                                Model, Actress
                                            </div>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>