@font-face {
    font-family: 'Replica Mono';
    src: url("../fonts/lineto-replicamono-regular.otf");
    src: local("Lato"), local("Lato-Regular"), url("../fonts/lineto-replicamono-regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Replica Mono';
    src: url("../fonts/Lato-Bold.ttf");
    src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lineto-replicamono-regular.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Replica Mono';
    src: url("../fonts/Lato-Black.ttf");
    src: local("Lato Black"), local("Lato-Black"), url("../fonts/lineto-replicamono-regular.otf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: Replica Mono !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Replica Mono !important;
}

.pt-55 {
    padding-top: 60px !important;
}

.modal-dialog-fs {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content-fs {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.bg-body-gray {
    background-color: #f5f8fb;
}

.bg-draft {
    background-color: #d9d9d9;
}

.bg-cancelled {
    background-color: #db3b3b;
}

.bg-pending {
    background-color: #545454;
}

.bg-ongoing {
    background-color: #004369;
}

.bg-nam {
    background-color: #FF66C4;
}

.bg-underreview {
    background-color: #935ba3;
}

.bg-unserved {
    background-color: #fb8334;
}

.bg-partiallydelivered {
    background-color: #fad02c;
}

.bg-delivered {
    background-color: #63b3d3;
}

.bg-billed {
    background-color: #00c875;
}

.trunc-text {
    /*display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

tr.hide-table-padding td {
    padding: 0;
}

.expand-button {
    position: relative;
}

.accordion-toggle .expand-button:after {
    position: absolute;
    left: .75rem;
    top: 50%;
    transform: translate(0, -50%);
    content: '-';
}

.accordion-toggle.collapsed .expand-button:after {
    content: '+';
}

.swal-wide {
    width: 750px !important;
    height: 400px !important;
}

.swal-html {
    height: 370px;
    padding-top: 25px;
}

.modal-size-80 {
    max-width: 80% !important;
}



/* dashboard :start */
.sidebar {
    min-height: 500px;
}

.mud-tab-slider {
    background: white;
}

.mud-ripple:hover {
    color: black;
}

.g8tabs .mud-ripple {
    justify-content: left;
}


.mud-ripple {
    /*    justify-content: left;*/
    padding: 0;
}


.mud-tooltip-root.mud-tooltip-inline {
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}


.mud-tabs-toolbar-content .mud-tabs-toolbar-wrapper.mud-tabs-vertical {
    width: 100%
}

.mud-tabs-toolbar.mud-tabs-vertical.mud-tabs-border-left {
    width: 17%
}

.mud-tabs-toolbar.mud-tabs-vertical.mud-tabs-border-left {
    padding: 0;
}

.mud-tabs-toolbar.mud-tabs-vertical.mud-tabs-border-right {
    padding: 0;
}

.mud-avatar.mud-avatar-medium {
    height: 110px;
    width: 110px;
    font-size: 3.75rem;
}

.mud-card-header {
    padding: 0;
}

.mud-tab.mud-tab-active {
    color: #FFCB1B;
}

/* dashboard :end */



/* dependent :start */

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
.h1:last-child,
.h2:last-child,
.h3:last-child,
.h4:last-child,
.h5:last-child,
.h6:last-child,
p:last-child {
    /*color: white*/
}

/* dependent :end */
/* 
dependents table :start */
#dependentstablestyle {
    border-collapse: collapse;
    width: 100%;
}

    #dependentstablestyle td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
        height: 50px;
        color: black;
    }


    #dependentstablestyle tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    #dependentstablestyle tr:hover {
        background-color: #ddd;
    }

    #dependentstablestyle th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background: white;
        font-weight: 700;
        color: black;
        border: 1px solid #ddd;
    }

.mud-table-root .mud-table-body .mud-table-cell {
    background: transparent;
}

/* dependents table :end */


#successtable {
    border-collapse: collapse;
    width: 100%;
}

    #successtable td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
        height: 50px;
        color: black;
    }


    #successtable tr:nth-child(odd) {
        background-color: white;
    }

    #successtable tr:hover {
        background-color: white;
    }

    #successtable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background: white;
        font-weight: 700;
        color: black;
        border: 1px solid #ddd;
    }



/* add dependents :start */

/* add dependents :end */


/* credits :start */
#creditstablestyle {
    border-collapse: collapse;
    width: 100%;
}

    #creditstablestyle td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
        color: black;
        height: 50px;
    }


    #creditstablestyle tr:nth-child(even) {
        background-color: #A2A2A2;
    }

    #creditstablestyle tr:hover {
        background-color: #E9E9E9;
    }

    #creditstablestyle th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background: #A2A2A2;
        font-weight: 700;
        color: black;
        border: 1px solid #ddd;
    }

.mud-table-root .mud-table-body .mud-table-cell {
    background: transparent;
}

/* credit :end */

/* Address :start */
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
.h1:last-child,
.h2:last-child,
.h3:last-child,
.h4:last-child,
.h5:last-child,
.h6:last-child,
p:last-child {
    /*color: white*/
}


/* address :end */


/* Dashboard */
/* footer {
    position: initial;
    width: 100%;
    bottom: 0px;
    background: black;
    height: 350px;
} */

footer a {
    color: #E7E7E7;
}

    footer a:hover {
        color: white;
    }

.container {
    width: 70%
}

.footercontainer {
    width: 100%
}

.navcontainer {
    /* padding: 0 215px; */
    color: white;
    height: 150px;
    margin: auto;
    /* width: 1150px; */
    width: 100%;
}

.navbar-nav {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    width: 100%;
    color: white;
}


    .navbar-nav li {
        padding: 0px 40px;
        margin-top: 5px;
    }

    .navbar-nav .active {
        border-top: solid 3px #FFCB1B;
        margin-top: -3px;
    }



    .navbar-nav li:hover {
        border-top: solid 3px #FFCB1B;
        margin-top: 2px;
    }

    .navbar-nav .nav-link {
        color: white;
        font-size: 14px;
        text-transform: uppercase;
        font-family: "Replica Mono", sans-serif;
        line-height: 20px;
        margin-top: -4px;
    }

        .navbar-nav .nav-link:hover {
            color: #FFCB1B;
        }



.elementor-shape-fill {
    fill: var(--e-global-color-3188eca);
}

.elementor-shape-top svg {
    width: calc(100% + 1.3px);
    height: 63px;
}

.elementor-shape-bottom svg {
    width: calc(100% + 1.3px);
    height: 70px;
}


.elementor-shape[data-negative=false].elementor-shape-bottom,
.elementor-shape[data-negative=true].elementor-shape-top {
    transform: rotate(180deg);
}

.headertext {
    color: black;
    font-family: 'Replica Mono';
    font-weight: 400;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 45px !important;
}

.paragraph1 {
    font-family: "Replica Mono", sans-serif;
    font-size: 20px;
}



.form-control,
.dual-listbox .dual-listbox__search {
    border: 1px solid black;
}

.text-light {
    color: white;
    font-family: "Replica Mono", Sans-serif;
    font-size: 12px;
    line-height: 25px;
}

.lightheader {
    font-size: 20px;
}

.g8button {
    padding: 10px 15px;
    background: black;
    color: #FFCB1B !important;
}

.g8buttonred {
    padding: 10px 15px;
    background: red;
    color: white;
}

.g8buttongreen {
    padding: 10px 15px;
    background: green;
    color: white;
}

.g8button:hover {
    background: black;
    color: #E8CF79;
}

.g8buttonred:hover {
    background: red;
    color: #E8CF79;
}

.g8font {
    color: black;
    font-family: "Replica Mono", sans-serif;
    font-weight: 200;
    margin-bottom: 25px;
    text-transform: uppercase;
    /* font-size: 40px; */
}

.mud-dialog .mud-dialog-title {
    background: #FFCB1B;
    color:black;
}

    .mud-dialog .mud-dialog-title h6 {
        color: white;
    }

/* Dashboard */

.navbar-nav .active .nav-link {
    color: #FFCB1B;
}

.groupheader {
    background: black;
    color: #FFCB1B;
}


/* floating button */
.floatingicon {
    background-image: url("https://aguinaldo.s3.ap-southeast-1.amazonaws.com/Risenation/book.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    text-align: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: all 0.1s ease-in-out;
    z-index: 5;
    color: black;
    padding: 30px 30px
}

    .floatingicon:hover {
        transform: scale(1.30);
    }


/* floating button */

.rncolor {
    color: #FFCB1B;
}

.rnblack {
    color: black;
}

.rowbackground {
    background: #f2f2f2;
}

.borderpadding {
    padding: 8px;
}

.textareastyle {
    width: 500px;
    height: 300px;
    border: 1.5px solid black;
    padding: 10px;
    font-size: 20px;
}

.student-assignee-section-header-gold {
    color: #FFCB1B;
    border-bottom: #FFCB1B 1px solid;
}



/* slides */

.carousel {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.slides {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides-item {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    max-height: 450px;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100%;
}

.carousel__nav {
    padding: 1.25rem .5rem;
}

.slider-nav {
    align-items: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: .5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
}

    .slider-nav:hover,
    .slider-nav:active {
        background-color: #000;
        color: #fff;
    }

.slide-1 {
    background-color: white;
}

.slide-2 {
    background-color: #bfd;
}

.slide-3 {
    background-color: #cdf;
}

.slide-4 {
    background-color: #dca;
}

.slide-5 {
    background-color: #ffc;
}

.addclimberbutton {
    right: 22px;
    bottom: 22px;
    position: absolute
}

.grayTableBackground {
    background: #F2F2F2 !important;
}

@media screen and (min-width: 992px) {
    .navcontainerweb {
        color: white;
        height: 100px;
        margin: auto;
        width: 100%;
    }
}


@media screen and (max-width: 991px) {
    .mud-tabs.mud-tabs-rounded .mud-tabs-toolbar {
        margin-bottom: 30px;
    }

    #dependentstablestyle td, #customers th {
        min-height: 70px;
    }

    .addclimberbutton {
        right: 0;
        bottom: 0;
        position: inherit
    }

    .headertext {
        font-size: 45px !important;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
        line-height: 26px;
        text-align: center;
    }

    .navbar-collapse {
        margin-bottom: 90px;
    }
}


.mud-dialog-width-sm {
    min-width: 350px;
}

.signature-pad {
    left: 0;
    top: 0;
    /*    width: 650px;
    height: 200px;*/
}

.signature-wrapper {
    border: 2px dashed #0000005c !important;
    position: relative;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.exportbutton {
    border-radius: 5px;
}

.mud-input > input.mud-input-root-outlined, div.mud-input-slot.mud-input-root-outlined {
    padding: 7.8px;
}

.mud-list-item.mud-list-item-dense {
    padding-left: 10px;
}


.hrtop {
    margin-top: -20px;
    ;
}


.hrtop2 {
    margin-top: -3px;
    ;
}

.headerimg {
    height: 86px;
    width: 86px;
    margin-right: 20px;
    margin-top: -15px
}

.headertop {
    margin-bottom: -15px;
}

.headertopNP {
    margin-bottom: 30px;
}

.titlemodal {
    font-family: 'Replica Mono';
    font-size: 20px;
    color: white;
}

.DialogSuccess {
    min-width: 450px;
}

.mud-theme-primary {
    background: #FFCB1B !important;
    color: black;
}

.mud-primary-text {
    color: #FFCB1B !important;
}


    .DialogSuccess {
        min-width: 0px;
    }


    /* floating button */
    .floatingicon {
        height: 20px;
        width: 20px;
        right: 30px;
        bottom: 30px;
        padding: 30px 30px
    }

    /* floating button */

    .g8tabs .mud-ripple {
        justify-content: center;
    }

    .headertext{
        font-size: 35px !important;
    }

}

.selectDropdown {
    font-size: 14px;
}
@media (max-width: 1305px) {
    .overlay a {
        font-size:25px !important;
    }
}
    
    /* mobile navigation */
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        background-color: black;
        /* background-color: rgba(0,0,0, 0.9); */
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 16px;
        color: white;
        font-family: 'Replica Mono';
        display: block;
        text-transform: uppercase;
        font-weight: 500;
        transition: 0.3s;
        line-height: 1.7em;
    }

        .overlay a:hover, .overlay a:focus {
            color: #f1f1f1;
        }

    .overlay .closebtn {
        position: absolute;
        padding: 10px 20px;
        right: 20px;
        font-size: 60px !important;
        font-weight: 900;
    }

    @media screen and (max-height: 450px) {
        .overlay a {
            font-size: 20px
        }

        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }


    /* success modal  */

    .swal2-styled.swal2-confirm {
        background-color: #FFCB1B !important;
        color: black !important;
        font-family: 'Replica Mono' !important;
        font-weight: 600 !important;
    }

    .swal2-icon.swal2-success [class^=swal2-success-line] {
        background-color: #FFCB1B !important;
    }

    .swal2-icon.swal2-success .swal2-success-ring {
        border: solid 3px #FFCB1B !important;
    }

    /* linear color */

    .mud-progress-linear.mud-progress-linear-color-primary:not(.mud-progress-linear-buffer) .mud-progress-linear-bar {
        background-color: #FFCB1B !important;
    }

    .linearcolor {
        color: #FFCB1B !important;
    }

    .mud-progress-linear.mud-progress-linear-color-info:not(.mud-progress-linear-buffer) .mud-progress-linear-bar {
        background-color: #FFCB1B !important;
    }

    @media screen and (max-width: 576px) {
        .inputmarginbottom {
            margin-bottom: 7px;
        }
    }

    .seating-circle {
        width: 45px;
        height: 45px;
        fill: transparent;
        stroke: #f8cf34;
        stroke-width: 2px;
    }

    .seating-selected {
        fill: #f8cf34;
    }

    .seating-reserved {
        fill: #c7c7c7;
    }


    .homepage1 {
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: .2em;
        line-height: 50px;
    }

    .homepage2 {
        font-family: Helveticaneue, sans-serif;
        font-size: 27px;
        font-weight: 300;
        text-align: center;
        line-height: 33.6px;
    }

    .homefont2 {
        font-family: Helveticaneue, sans-serif;
    }

    footer {
        padding: 0;
    }

    .homevideo {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }

    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }




    /*.scrolleffects {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

    .scrolleffects .zoomcontent {
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
*/

    a {
        color: black
    }


.desktopFooter {
    display: content;
}

.mobileFooter {
    display: table-column;
}

.desktopNav {
    display: flex;
}

.mobileNav {
    display: table-column;
}

    .desktopPackage {
      display:flex;
    }

    .tabletPackage {
      display: none;
    }

    .mobilePackage {
       display:none;
    }

    .home1 {
        padding: 130px 50px;
    }

.desktophome {
    display: contents;
}

.mobilehome {
    display: table-column;
}

    .aboutimage {
        padding: 300px 30px !important;
    }

    .abouttext {
        text-align: justify !important;
    }

    @media (max-width: 1306px) {
        .desktopNav {
            display: none;
        }

        .mobileNav {
            display:contents;
        }

        .abouttext {
            text-align: center !important;
        }
    }

@media (max-width: 991px) {
    .desktopFooter {
        display: table-column;
    }

    .mobileFooter {
        display: flex;
    }

    .headerimg {
        display: table-column;
    }

    .headertop {
        margin-top: -5px;
    }

    .cartpadding {
        width: 95%;
    }

    .home1 {
        padding: 50px;
    }

    .homepage1 {
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        letter-spacing: .2em;
        line-height: 35px;
    }

    .homepage2 {
        font-family: Helveticaneue, sans-serif;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        line-height: 30.6px;
    }

    .homefont2 {
        font-family: Helveticaneue, sans-serif;
    }

    .desktophome {
        display: table-column;
    }

    .mobilehome {
        display: contents;
    }

    .container {
        width: 90%
    }

    .aboutimage {
        padding: 180px 30px !important;
    }
}



@media (min-width: 721px) and (max-width: 1048px) {
    .desktopPackage {
        display: none;
    }

    .tabletPackage {
        display: flex;
        padding: 10px 50px;
    }

    .mobilePackage {
        display: none;
    }
}
@media (max-width: 720px) {
    .desktopPackage {
        display: none;
    }

    .tabletPackage {
        display: none;
    }

    .mobilePackage {
        display: flex;
    }
}

