

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    @*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<div class="full-width-container">

<div class="">
    <img style="width: 100%" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/landingpage/G8-Cover.jpg">
</div>

<div class="" style="background:black;text-align:center;color:white;padding:10px;font-size:19px">
   SIGN UP FOR A FREE TRIAL<a href="https://members.g8academy.com/public/account/freetrial"> <span style="color:#CCA315">CLICK HERE</span> </a> &nbsp;  | &nbsp;     CONTACT US <span style="color:#CCA315"> 0977 804 2181<span></span></span>
</div>

<div style="background:url(https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/landingpage/locationback.png);background-repeat: no-repeat; background-position: center; background-size: cover;padding:60px 200px">

    <div style="font-size:39px;color:#CCA315;padding-bottom:40px">
        <center>
        G8 TRAINING VENUES​
        </center>
    </div>

    <div style="background:#F2F2F2;padding:20px;border-radius: 20px; border: 2.5px solid #CCA315;">
    <center>
       <div style="font-size:23px;font-family:''Lato">
<span style="color:#CCA315;font-weight:900">BGC:</span> BRITISH SCHOOL MANILA | BGC TURF | TRESTON COLLEGE | DE JESUS OVAL
<BR>
<span style="color:#CCA315;font-weight:900">MAKATI:</span> MANILA POLO CLUB | FORBES PARK | DASMARINAS VILLAGE
<BR>
<span style="color:#CCA315;font-weight:900">ALABANG: </span>ALABANG COUNTRY CLUB
</div>


    </center>
    </div>
</div>


@*slider start*@
<div class="" style="padding:60px 0px">
     <div style="font-size:39px;color:#CCA315;padding-bottom:40px">
        <center>
       G8 SPONSORS

        </center>
    </div>

    <div class="pt-0 content">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                <div class="carousel-item col-md-3  ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 1" class="thumb">
                                <img style="width:100%;height:220px" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/logo/boot.jpg" class="img-fluid mx-auto d-block" alt="img1">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 3" class="thumb">
                                <img style="width: 100%; height: 220px" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/logo/bow.jpg" class="img-fluid mx-auto d-block" alt="img2">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 4" class="thumb">
                                <img style="width: 100%; height: 220px" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/logo/col.jpg" class="img-fluid mx-auto d-block" alt="img3">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 active">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 5" class="thumb">
                                <img style="width: 100%; height: 220px" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/logo/aivee.jpg" class="img-fluid mx-auto d-block" alt="img4">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 6" class="thumb">
                                <img style="width: 100%; height: 220px" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/logo/fitness.jpg" class="img-fluid mx-auto d-block" alt="img5">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 7" class="thumb">
                                <img style="width: 100%; height: 220px " src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/logo/hava.jpg" class="img-fluid mx-auto d-block" alt="img6">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 8" class="thumb">
                                <img style="width: 100%; height: 220px" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/logo/inquire.jpg" class="img-fluid mx-auto d-block" alt="img7">
                            </a>
                        </div>
                    </div>
                </div>
                   <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 8" class="thumb">
                                <img style="width: 100%; height: 220px" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/logo/jol.png" class="img-fluid mx-auto d-block" alt="img7">
                            </a>
                        </div>
                    </div>
                </div>
                   <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 8" class="thumb">
                                <img style="width: 100%; height: 220px" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/logo/rexona.jpg" class="img-fluid mx-auto d-block" alt="img7">
                            </a>
                        </div>
                    </div>
                </div>
                 <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 8" class="thumb">
                                <img style="width: 100%; height: 220px" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/logo/selecta.jpg" class="img-fluid mx-auto d-block" alt="img7">
                            </a>
                        </div>
                    </div>
                </div>
                 <div class="carousel-item col-md-3 ">
                    <div class="panel panel-default">
                        <div class="panel-thumbnail">
                            <a href="#" title="image 8" class="thumb">
                                <img style="width: 100%; height: 220px" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/G8/logo/stlouis.jpg" class="img-fluid mx-auto d-block" alt="img7">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span  class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-faded" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

@*slider end*@

</div>




<script>
    $('#myCarousel').on('slide.bs.carousel', function (e) {


        var $e = $(e.relatedTarget);
        var idx = $e.index();
        var itemsPerSlide = 4;
        var totalItems = $('.carousel-item').length;

        if (idx >= totalItems - (itemsPerSlide - 1)) {
            var it = itemsPerSlide - (totalItems - idx);
            for (var i = 0; i < it; i++) {
                // append slides to end
                if (e.direction == "left") {
                    $('.carousel-item').eq(i).appendTo('.carousel-inner');
                }
                else {
                    $('.carousel-item').eq(0).appendTo('.carousel-inner');
                }
            }
        }
    });


    $('#myCarousel').carousel({
        interval: 2000
    });


    $(document).ready(function () {
        /* show lightbox when clicking a thumbnail */
        $('a.thumb').click(function (event) {
            event.preventDefault();
            var content = $('.modal-body');
            content.empty();
            var title = $(this).attr("title");
            $('.modal-title').html(title);
            content.html($(this).html());
            $(".modal-profile").modal({ show: true });
        });

    });


</script>



