<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<div class="full-width-container" style="background:black;color:white;overflow:hidden">


  @*  <div class="zoom scrolleffects">
        <div  class="zoomcontent">
               <img src="https://i.postimg.cc/cCkd6pXx/2.jpg">
        </div>
   </div>*@

    <div class="w3-content w3-display-container">
        <img class="mySlides" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/Risenation/banner1.png" style="width:100%">
        <img class="mySlides" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/Risenation/banner2.png" style="width:100%">
        <img class="mySlides" src="https://aguinaldo.s3.ap-southeast-1.amazonaws.com/Risenation/banner3.png" style="width:100%">
    </div>


    <div class="home1">
        <div class="homepage1">
            TAKE YOUR HEALTH<br>AND FITNESS TO <span style="color:#FFBF00">NEW <br /> HEIGHTS !</span>
        </div>

        <div class="homepage2 mt-3 mt-lg-5 mt-md-5 mt-sm-3">
            <div class="introtext"><p class="paragraph center">Los Angeles’ hottest fitness class has landed on <br> Philippine shores. Our first Philippines studio in Bonifacio Global City <br> is now open. You have the unique opportunity to try our <br> Rise Rookie Package for just Php 1,500.00!<span></span></p></div>
        </div>
    </div>

      <div class="col-lg-12">
    <div class="row">
      
        <div class="col-lg-6 p-0">
            <div class="homevideo">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aVxxQUDOI7Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="video" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 p-0">
            <div class="homevideo">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2z9fbUdNJFw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="video" allowfullscreen></iframe>
            </div>
        </div>
       
       
    </div>
     </div>

       <div class="col-lg-12">
    <div class="row">
      
         <div class="col-lg-6 p-0">
            <div class="homevideo">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/r3aTCk1QTKs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="video" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 p-0">
            <div class="homevideo">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WZG4WCm1Es8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="video" allowfullscreen></iframe>
            </div>
        </div>
        </div>
       
    </div>

    <div class="desktophome">
        <div class="col-lg-12">
            <div class="row" style="padding-top:130px">
                <div class="col-lg-6" style="background-image:url('https://aguinaldo.s3.ap-southeast-1.amazonaws.com/Risenation/home1.jpg');background-size:cover;padding:250px">
                </div>
                <div class="col-lg-6">
                    <div style="padding:60px 90px">
                        <div class="text-center" style="font-size:59px;letter-spacing:12.29px">
                            THE METHOD
                        </div>
                        <div class="text-justify homefont2" style="font-size:24px">
                            Rise Nation is more than just aworkout: it's a movement. Founder and renowned LA trainer, Jason Walsh, established the workout in an effort to counter the injuries that his clients were frequently sustaining from some of the other leading workouts. Jason's vision was to provide people with a workout that was not only effective but also efficient and fun.
                        </div>

                        <br /><br />

                        <div class="text-center" style="font-size:59px;letter-spacing:12.29px">
                            THE SCIENCE
                        </div>
                        <div class="text-justify homefont2" style="font-size:24px">
                            The primal movement of climbing keeps your spine aligned and your body mechanics in a healthy, natural, comfortable position. Rising feels good. The balance of upper/lower and front/back body engagement builds a balanced physique. Because climbing is zero-impact and self-regulating, making our workout accessible to a more diverse group.
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row">

                <div class="col-lg-6">
                    <div style="padding:180px 90px">
                        <div class="text-center" style="font-size:59px;letter-spacing:12.29px">
                            THE <br>
                            WORKOUT
                        </div>
                        <div class="text-justify homefont2" style="font-size:24px">
                            The high-intensity nature of our workout means you only need 30 minutes, saving you time in your busy schedule. The most efficient way to burn calories, period. The tempo-based training keeps your mind as engaged as your body.
                        </div>

                    </div>
                </div>
                <div class="col-lg-6" style="background-image:url('https://aguinaldo.s3.ap-southeast-1.amazonaws.com/Risenation/home2.jpg');background-size:cover">
                </div>
            </div>
        </div>
    </div>
    
    <div class="mobilehome">
        <div class="col-lg-12">
            <div class="row" style="">
                <div class="col-lg-6" style="background-image:url('https://aguinaldo.s3.ap-southeast-1.amazonaws.com/Risenation/home1.jpg');background-size:cover;padding:250px">
                </div>
                <div class="col-lg-6">
                    <div style="padding:50px">
                        <div class="text-center mb-1" style="font-size:29px;letter-spacing:3.12px">
                            THE METHOD
                        </div>
                        <div class="text-center homefont2" style="font-size:24px">
                            Rise Nation is more than just aworkout: it's a movement. Founder and renowned LA trainer, Jason Walsh, established the workout in an effort to counter the injuries that his clients were frequently sustaining from some of the other leading workouts. Jason's vision was to provide people with a workout that was not only effective but also efficient and fun.
                        </div>

                        <br /><br />

                        <div class="text-center mb-1" style="font-size:29px;letter-spacing:3.12px">
                            THE SCIENCE
                        </div>
                        <div class="text-center homefont2" style="font-size:24px">
                            The primal movement of climbing keeps your spine aligned and your body mechanics in a healthy, natural, comfortable position. Rising feels good. The balance of upper/lower and front/back body engagement builds a balanced physique. Because climbing is zero-impact and self-regulating, making our workout accessible to a more diverse group.
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row">

                <div class="col-lg-6" style="background-image:url('https://aguinaldo.s3.ap-southeast-1.amazonaws.com/Risenation/home2.jpg');background-size:cover;padding:250px">
                </div>

                <div class="col-lg-6">
                    <div style="padding:50px">
                        <div class="text-center" style="font-size:29px;letter-spacing:3.12px">
                            THE
                            WORKOUT
                        </div>
                        <div class="text-center  homefont2" style="font-size:24px">
                            The high-intensity nature of our workout means you only need 30 minutes, saving you time in your busy schedule. The most efficient way to burn calories, period. The tempo-based training keeps your mind as engaged as your body.
                        </div>

                    </div>
                </div>
             
            </div>
        </div>
    </div>

</div>


<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4000); // Change image every 2 seconds
    }



</script>
